*.ipynb linguist-vendored=true
*.md linguist-vendored=true
*.yaml linguist-vendored=true
*.csv linguist-vendored=true
*.png linguist-vendored=true
*.jpg linguist-vendored=true
main.ipynb linguist-vendored=true

git rm --cached main.ipynb
git commit -m "Remove main.ipynb from tracking"
git push origin main